
iframe {
  display: block;
  margin: 0;
  //max-width: 90%;
  width: 100%;
  min-width: 12em;
  height: 20em;
  height: 100%;

  box-shadow: 0 10px 40px -20px #000;
  border-radius: 4px;
  //animation: grow 10s infinite ease-in-out;

  &:hover {
    animation-play-state: paused;
  }

}

@keyframes grow {

  0%,
  100% {
    width: 90%;
  }

  50% {
    width: 30%;
  }
}

.example {
  background: #25156E;
  background-image: linear-gradient(0deg, #22165A 0%, #113 100%);
  color: #fff;
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  text-align: left;
  padding-top: 40px;

  &:after{
    content: "";
    position: fixed;
    left: 12px;
    top: 10px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    box-shadow: 20px 0 0 rgba(255,255,255,0.3), 40px 0 0 rgba(255,255,255,0.3);
  }

  &:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 33px;
    background: #41405F;
  }
  
  &__text {
    font-weight: 500;
    margin: 0.5em;
    font-size: 1em;
    line-height: 1.3;
  }
}